@page "/Users"

<h3>List of Users</h3>
<table>
    @foreach (var user in _users) {
        <UserRow User="@user"/>
    }
</table>


@code {

    private readonly List<User> _users = [];

    protected override void OnInitialized() {
        _users.Add(new User {
            Id = 1
            , Name = "John"
            , DiscordId = "123719084219"
        });
        _users.Add(new User {
            Id = 2
            , Name = "Jack"
            , DiscordId = "52648916541"
        });
        base.OnInitialized();
    }

}