@page "/User"

<PageTitle>User</PageTitle>
<div>
    <p>Id = @User.Id</p>
    <p>Name = @User.Name</p>
    <p>Discord = @User.DiscordId</p>
</div>

@code {

    private User? User { get; set; }
    [SupplyParameterFromQuery] public int Id { get; set; }
    private readonly Context _database = new();

    protected override async Task OnInitializedAsync() {
        User = await _database.Users.FindAsync(Id);

        if (User is null) {
            NavigationManager.NavigateTo("users");
        }
    }

}