@page "/Users"

<h3>List of Users</h3>

<UserTable Users="@_users"/>


@code {

    private List<User> _users = [];
    private readonly Context _database = new();
    
    protected override void OnInitialized() {
        _users = _database.Users.ToList();
    }

}