@page "/User"
@inject NavigationManager NavigationManager
<h3>User</h3>
<div>
    <p>Id = @User.Id</p>
    <p>Name = @User.Name</p>
    <p>Discord = @User.DiscordId</p>
</div>

@code {

    private User? User { get; set; }
    [SupplyParameterFromQuery] public int id { get; set; }
    private readonly Context _database = new();

    protected override async Task OnInitializedAsync() {
        User = await _database.Users.FindAsync(id);

        if (User is null) {
            NavigationManager.NavigateTo("users");
        }
    }

}