<tr @onclick="GoToDetails" style="cursor:pointer">
    <td>@User.Id</td>
    <td>@User.Name</td>
    <td>@User.DiscordId</td>
</tr>

@code {
    [Parameter] public required User User { get; set; }

    private void GoToDetails() {
        Console.WriteLine($"click {User.Id}");
        NavigationManager.NavigateTo($"/User?id={User.Id}");
    }

}